*{
    padding: 0px;
    margin: 0px;
}
.gap{
    background: linear-gradient(90deg, #00D1FF 50%, rgba(13, 239, 117, 0.5) 100%);
    width: auto;
    height: 133px;
    display: flex;
justify-content: space-between;


    
    
}
.main2{
    display: flex;
    gap: 10px;
}

 

.tag ul{
    display: flex;
    margin-right: 900px;
    gap: 40px;
    margin-top: 57px;
    width: 56px;
    height: 23px;
    font-weight: 500px;
    font-size: 20px;
    line-height: 22.98px;
    color:rgba(255, 255, 255, 1);
    text-decoration: none; 
    list-style-type: none; 
    text-wrap: nowrap; 
    font-family: "Ubuntu Sans", sans-serif;
    
    
}
ul li a{all: unset;}
.tag a{
    text-decoration: none;
    color: #FFFFFF;

}
.home img{
    width: 100%;
    margin-top: 1%; 

}
.img3 img{
    width: 100%;
}
    
.img3{
    margin-top:-61.5%;
    
}

.logo{
    width: 61px;
    height: 63px;
    margin-top: 39px;
    margin-left: 99px;
}
.logo2{
    width: 129px;
    height: 45px;
    margin-top: 52px;
    margin-left: 13px;
}    
.logo2 p{
    font-weight: 500px;
    font-size: 30px;
    line-height: 34.47px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;

}
.logo2 :nth-child(2){
    font-weight: 500px;
    font-size: 12px;
    margin-top: -15px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    
    
}
.aqi{
    display: flex;
}
/* .aqi :nth-child(2){
    top: -2px;
    position: relative;
    width: 100%;
    margin-left: -100%;
}  */
.aqi :nth-child(1){
    margin-top: -2px;
    width: 100%;
    
}
.con :nth-child(1){
    width: 490px;
    height: 104px;
    padding-left: 497px;
    margin-top:-350px ;
    font-weight: 500px;
    font-size:38px ;
    line-height: 51.71px;
    text-align: center;
    /* color: white; */
    color: #FFFFFF;
}
.con :nth-child(2){
    width: 345px;
    height: 52px;
    padding-left: 570px;
    margin-top:12px ;
    font-weight: 500px;
    font-size:38px ;
    line-height: 51.71px;
    text-align: center;
    /* color: white; */
    color: #FFFFFF;
}
.con1{
    display: flex;
    gap: 46px;
    margin-left: 680px;
    margin-top: 38px;
}
.aqi2{
    display: flex;
    margin-top: 130px;
    margin-left: 49px;
    gap: 31px;
    /* background:linear-gradient(266.59deg, rgba(0, 209, 255, 0.5) 37.42%, rgba(13, 239, 117, 0.5) 90.74%);
    background-size: 318.51px; */
}
.aqi2 h2{
    font-weight: 490px;
    height: 52px;
    width: 500px;
    font-size: 40px;
    line-height: 51.71px;
    color: #333333;
    font-family: "Ubuntu Sans", sans-serif;
}
.aqi2 img{
    width: 40px;
    height: 40px;
}
.aqi2 :nth-child(3){
    width: 318.51px;
    height: 30px;
    margin-left: -516.14px;
    margin-top: 12px;

}
/* .bak{
    background: linear-gradient(266.59deg, rgba(0, 209, 255, 0.5) 37.42%, rgba(13, 239, 117, 0.5) 90.74%);
    width: 318.51px;
    height: 30px;
    margin-top: -43px;
    margin-left: 136.14px;
    transform: rotate(-2.18deg);
} */
.aqi3{
    display: flex;
}
.aqi3 p{
    width: 896px;
    height: 339px;
    padding-left: 49px;
    padding-top: 31px;
    font-weight: 400px;
    font-size: 31px;
    line-height: 45px;
    color: #666666;
    font-family: "Ubuntu Sans", sans-serif;

}
.aqi3 img{
    width: 482px;
    height: 410px;
    margin-top:100px;
}
.ul{
    width: 758px;
    height: 215px;
    margin-left: 49px;
    margin-top: -120px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400px;
    font-size: 30px;
    line-height: 34.47px;
    color: #666666;
    

}


.ul li{
    list-style: none;
    list-style-image: none;
    /* position: relative; */
    gap: 50px;
    
}
#mar1{
    display: flex;
    gap: 14px;
}
#mar2{
    display: flex;
    gap: 14px;
}
#mar3{
    display: flex;
    gap: 14px;
}
#mar3 img{
    width: 38px;
    height: 34px;
}

.pee{
    width: 1340px;
    height: 612px;
    margin-left: 50px;
    margin-top: 47px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 500px;
    font-size: 30px;
    line-height: 50px;
    color: #666666;

}
.pee span{
    color: black;
}

.con4{
    display: flex;
    gap: 33px;
    margin-top: 133px;
    margin-left: 39px;
}
.con4 h2{
    width: 345px;
    height: 52px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 500px;
    font-size: 45px;
    line-height: 51.71px;
    text-align: center;

}
.con4 :nth-child(2){
    width: 42px;
    height: 42px;
}
.con4 :nth-child(3){
    width: 318.51px;
    height: 30px;
    margin-left: -439px;
    margin-top: 12px;
}
.con5{
    display: flex;
    margin-top: 50px;
}
.con5 p{
    width: 865px;
    height: 470px;
    margin-top: 21px;
    margin-left: 59px;
    font-size: 30px;
    font-weight: 400px;
    line-height: 45px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #666666;


    
}
.con5 img{
    width: 482px;
    height: 450px;
    margin-left: 100px;
    margin-top: -150px;

}
.pag img{
    width: 100%;
    margin-top: 90px;
    height: 681.13px;
}


.like{
    display: flex;
    justify-content: space-between;
    margin-top: -600px;
    margin-left: 152px;
    font-weight: 400px;
    font-size: 20px;
    line-height: 37.98px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #FFFFFF;
    
}
.sey{
    width: 129px;
    height: 45px;
    margin-top: 403.09px;
     

}    
.sey p{
    font-weight: 500px;
    font-size: 30px;
    line-height: 34.47px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;
    margin-left: -50px;

}
.sey :nth-child(2){
    font-weight: 500px;
    font-size: 12px;
    margin-top: -15px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;   
} 
.tin img{
    width: 100%;
}

.foot5{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-left: 152px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400px;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    margin-top: 40px;
}
.dot3{
    margin-top: -150px;
    margin-left: 1630px;
}
.foot1 a{
    text-decoration: none;
    color: #FFFFFF;

}
.foot4 img{ 
    margin-left: 30px;
}
.dot5{
    margin-left: 6px;
    margin-top: 220px;
    
}
