* {
    padding: 0px;
    margin: 0px;
}


.gap {
    background: linear-gradient(90deg, #00D1FF 50%, rgba(13, 239, 117, 0.5) 100%);
    /* width: auto; */
    /* height: 133px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}


.main2 {
    display: flex;
    gap: 10px;
    align-items: center;
}



.tag ul {
    display: flex;
    /* margin-right: 900px; */
    gap: 40px;
    /* margin-top: 57px;
    width: 56px;
    height: 23px; */
    font-weight: 500px;
    font-size: 20px;
    line-height: 22.98px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    list-style-type: none;
    text-wrap: nowrap;
    font-family: "Ubuntu Sans", sans-serif;


}

ul li a {
    all: unset;
}

.tag a {
    text-decoration: none;
    color: #FFFFFF;

}

.home img {
    width: 100%;
    margin-top: 1%;

}

.img3 img {
    width: 100%;
}

.img3 {
    margin-top: -61.5%;

}

.logo {
    width: 61px;
    height: 63px;
    margin-top: 39px;
    margin-left: 99px;
}

.logo2 {
    width: 129px;
    height: 45px;
    margin-top: 52px;
    margin-left: 13px;
}

.logo2 p {
    font-weight: 500px;
    font-size: 30px;
    line-height: 34.47px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;

}

.logo2 :nth-child(2) {
    font-weight: 500px;
    font-size: 12px;
    margin-top: -15px;
    color: white;
    font-family: "Ubuntu Sans", sans-serif;


}

.man1 {
    display: flex;
}

.luv {
    display: flex;
    gap: 30px;
    margin-left: 85px;
    margin-top: 56px;
}

.luv p {
    width: 321px;
    height: 40px;
    font-weight: 400px;
    font-size: 30px;
    line-height: 40px;
    font-family: "Ubuntu Sans", sans-serif;

}


.let {

    margin-top: -855px;
    margin-left: 620px;
}

input[type=text] {

    border: none;
    border-bottom: 1px solid #0DEF75;
    width: 500px;
    margin-left: 147px;
    padding-top: 20px;
    outline: none;
    font-size: 25px;
    font-family: "Ubuntu Sans", sans-serif;
}

input[type=number] {
    border: none;
    border-bottom: 1px solid #0DEF75;
}

#one {
    margin-top: 75px;
}


#two {
    margin-top: 75px;
}

#thre {
    margin-top: 75px;
}

#four {
    margin-top: 75px;
}

#five {
    margin-top: 75px;
}

.btn button {
    width: 258px;
    height: 60px;
    margin-top: 101px;
    margin-left: 408px;
    border-radius: 4px;
    background: linear-gradient(90deg, #00D1FF 13.57%, rgba(13, 239, 117, 0.5) 100%);
    cursor: pointer;


}

.btn button a {
    outline: none;
}

.btn p {
    width: 152px;
    height: 23px;
    font-weight: 700px;
    font-size: 20px;
    line-height: 22.98px;
    font-family: "Ubuntu Sans", sans-serif;
    color: #FFFFFF;
    margin-left: 46px;

}

.btn button {
    border: none;
}

.fir2 {
    height: 1024px;
    width: 1001px;
    margin-left: 83px;
    background: linear-gradient(180deg, #00D1FF 0%, #0DEF75 100%);
}

.dee :nth-child(1) {
    height: 40px;
    width: 338px;
    font-weight: 400px;
    font-size: 56px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "Ubuntu Sans", sans-serif;
    margin-left: 100px;
    margin-top: 197px;
}

.dee :nth-child(2) {
    height: 40px;
    width: 338px;
    font-weight: 400px;
    font-size: 56px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "Ubuntu Sans", sans-serif;
    margin-left: 100px;
    margin-top: 10px;
}

.dee :nth-child(3) {
    height: 40px;
    width: 338px;
    font-weight: 400px;
    font-size: 54px;
    line-height: 40px;
    color: #FFFFFF;
    font-family: "Ubuntu Sans", sans-serif;
    margin-left: 232px;
    margin-top: -40px;
}

.dee {
    padding-left: 200px;
}

.pre p {
    width: 416px;
    height: 40px;
    padding-left: 300px;
    padding-top: 166px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 40px;
    color: #333333;

}


.rad {
    margin-left: 300px;
    margin-top: 27px;




}

.rad label {
    width: 73px;
    height: 40px;
    margin-top: 20px;
    font-family: "Ubuntu Sans", sans-serif;
    font-weight: 400px;
    font-size: 25px;
    line-height: 40px;
    color: #FFFFFF;




}

.rad {
    display: flex;
    gap: 49px;
}

.rad [type="radio"] {
    width: 24px;
    height: 20px;
}

/* .rad :nth-child(2){
    margin-left: 82px;
} */
input [type=radio],
input[type=checkbox] {
    transform: scale(2);
    margin-left: 105px;


}

input {
    accent-color: white;
    outline: white;
    cursor: pointer;

}

input :focus {
    outline: white;
}