*{
    margin: 0;
    padding: 0;
}

.main1{
    background: linear-gradient(90deg, #00D1FF 50%, rgba(13, 239, 117, 0.5) 100%);
    width: auto;
    height: 133px;


}
.one img{
    width: 100%;
    margin-top: 20px;
}
.two img{
    width: 100%;
    margin-top: -100%;
}